a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}html{overflow-y:-moz-scrollbars-vertical;overflow-y:scroll}

html {
  height: 100%;
}

body {
  background: #fff;
  font: 400 0.625em "Open Sans", sans-serif;
  color: #333;
}

#container {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1200px;
}

h2, p {
  margin: 30px auto;
  padding: 0 50px;
  max-width: 668px;
}

h1, .xxl, p.teaser, p.by {
  margin: 30px 0;
  padding: 0 50px;
  max-width: 1100px;
}

h1 {
  font-size: 4.6em;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 2.4em;
  font-weight: 700;
}

p {
  font-size: 2.0em;
  line-height: 2.2em;
}

p.teaser {
  font-weight: 700;
}

p.by {
  padding-bottom: 30px;
  margin-bottom: 100px;
  border-bottom: 1px dotted #ddd;
  text-align: center;
  font-size: 1.6em;
  color: #999;
}

.xxl img {
  width: 100%;
}

a:link, a:visited {
  color: #2789D4;
  text-decoration: none;
}

a:focus, a:hover, a:active {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}
