<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Daycare in Ontario</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="style.css" rel="stylesheet" media="screen" type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>

<style>
.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  height: fit-content;
  top: 5%;
}
</style>


<body>
<div id="container"></div>
    <div id="title">
      <h1>Now We Have an Action Plan for Child Care in Ontario, Where Should the Money Go?</h1>
      <p class="by" align="center">by Chen Wang</a> &nbsp;|&nbsp; April 19, 2018</p>
    </div>

  <div id="lede">
      <p>A 2.2 billion five-year action plan was rolled out last year in Ontario, aiming to create more child care spaces with a better affordability. <a href="https://www.theglobeandmail.com/canada/article-ontario-liberals-pledge-free-preschool-child-care-starting-in-2020/" target="_blank">The promise of free child care for preschoolers starting in 2020,</a> as part of the action plan, was also made by Ontario Premier Kathleen Wynne as part of the pre-election budget.</p>
      <p>This is a good news for many, even for me as a new Master’s graduate, having many things lining up before having a baby based on my personal plan. The impression of Ontario’s high child care expenses is long-standing. It could come from the anxiety when read <a href="https://www.huffingtonpost.ca/2018/03/28/ontario-free-daycare_a_23397574/" target="_blank">the report</a> that only 20 per cent of families with one child can afford licensed child care in Ontario or the vulnerability of the people in our life catching on the dilemma of going back to work or staying at home.</p>
      <p>However, affordability is just part of the child care story. <a href="https://www.thestar.com/news/queenspark/2017/06/06/ontario-commits-to-universally-accessible-child-care.html" target="_blank">While parents in cities complain about licensed child care being too expensive, those in rural areas said centres are too far away.</a> It is understandable that resources are more concentrated in certain areas than the others as the population of the divisions of Ontario vary a lot. Inspired by <a href="https://pudding.cool/2017/09/clinics/" target="_blank">the Pudding’s amazing work</a> on the accessibility to abortion clinics in the United States, I set out on this story by measuring the length of driving time to the nearest child care (temporarily set aside the match of a kid’s age and the child care’s target age group) to take a peek at how divided the challenge we are facing. 
      <br>
      <br>
  </div>

  <div id="part_1" style="background-color:#202020;">
    <div class="row">
      <div class="col-sm-5">
        <div class="step" id="general">
          <br>
          <h3>Overall Accessibility</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus ligula, rutrum a dui vel, hendrerit lobortis purus. Aenean egestas lacus pellentesque velit lobortis, in molestie risus laoreet. Quisque et metus non leo sollicitudin pretium. Nulla ut elit quis lectus rutrum efficitur. Cras vestibulum tristique est, at dapibus nulla facilisis id. Praesent eget aliquam ex. Nullam pretium interdum tellus, quis iaculis turpis. Vestibulum velit sem, facilisis ut dignissim vel.</p>
        </div>
        <div class="step" id="centres">
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3>How are the accessibility to day care service for the population centres?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus ligula, rutrum a dui vel, hendrerit lobortis purus. Aenean egestas lacus pellentesque velit lobortis, in molestie risus laoreet. Quisque et metus non leo sollicitudin pretium. Nulla ut elit quis lectus rutrum efficitur. Cras vestibulum tristique est, at dapibus nulla facilisis id. Praesent eget aliquam ex. Nullam pretium interdum tellus, quis iaculis turpis. Vestibulum velit sem, facilisis ut dignissim vel.</p>
        </div>
        <div class="step" id="underserved">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3>Highlighting the under-served population centers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus ligula, rutrum a dui vel, hendrerit lobortis purus. Aenean egestas lacus pellentesque velit lobortis, in molestie risus laoreet. Quisque et metus non leo sollicitudin pretium. Nulla ut elit quis lectus rutrum efficitur. Cras vestibulum tristique est, at dapibus nulla facilisis id. Praesent eget aliquam ex. Nullam pretium interdum tellus, quis iaculis turpis. Vestibulum velit sem, facilisis ut dignissim vel.</p>
          <br>
          <br>
        </div>
      </div>
      <div class="col-sm-7 graphic sticky">
        <div id="graphic-1">
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div id="part_2">
    <div class="story">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus ligula, rutrum a dui vel, hendrerit lobortis purus. Aenean egestas lacus pellentesque velit lobortis, in molestie risus laoreet. Quisque et metus non leo sollicitudin pretium. Nulla ut elit quis lectus rutrum efficitur. Cras vestibulum tristique est, at dapibus nulla facilisis id. Praesent eget aliquam ex. Nullam pretium interdum tellus, quis iaculis turpis. Vestibulum velit sem, facilisis ut dignissim vel.</p>
    </div>

    <br>
    <br>

    <div id="standard">
      <div class="row">
        <div class="col-sm-7">
          <div id="table"></div>
        </div>  

        <div class="col-sm-5">
          <div id="coverage-map"></div>
        </div> 
      </div>
    </div>

    <div id="app">
      <div class="row">
        <div class="col-sm-7">
          <div id="app">
            <table id="custome-table">
              <tr v-for="division in filteredDivisions" v-on="showDivision(division)">
                <td>{{ currentDivision }}</td>
                <td>{{ currentYear1 }}</td>
                <td>{{ currentYear2 }}</td>
                <td>{{ currentYear3 }}</td>
                <td>{{ currentYear4 }}</td>
              </tr>
            </table>       
          </div>
        </div>

        <div class="col-sm-5">
          <input type="text" v-model="search" placeholder="Find your division..." />  
          <svg class="feather feather-search" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="10.5" cy="10.5" r="7"></circle>
                <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="footer">
    <h3>Data Source</h3>
    <ul class="data_source">
      <li> Licensed Child Care, Ontario Ministry of Education </li>
      <li> Ontario Population Projection Update 2016-2041, Ontario Ministry of Finance </li>
      <li> 2011 Census, Boundary Files, Statistics Canada </li>
      <li> Government of Ontario </li>
    </ul>
  </div>

  <!-- This is D3, our graphing library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>

  <!-- include our scrolling library -->
  <script src='https://unpkg.com/scrollama'></script>
  <script src='js/stickyfill.min.js'></script>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>

  <!-- include our application and data parsing library -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.7/papaparse.min.js"></script>

  <script>
    /* Allow position: sticky to work in old browsers */
    var elements = document.querySelectorAll('.sticky');
    Stickyfill.add(elements);

    // instantiate the scrollama
    var scroller = scrollama();

    scroller
      .setup({
        offset: 0, // how far from the top?
        step: '.step', // class for stepping through
        debug: false, // shows the line
        container: 'container'
      })
      .onStepEnter(function(response) {
        // trigger the stepin event
        d3.select(response.element).dispatch('stepin')
      })
      .onStepExit(function(response) {
        // trigger the stepout event
        d3.select(response.element).dispatch('stepout')
      })
  </script>

  <script src='daycare.js'></script>
  <script src='table.js'></script>
  <script src='app.js'></script>

</div>

</body>
</html>