body {
    height: 100%;
    width:100%;
}

#container {
  width: 1100px;
  color: #333;
  margin: 0 auto;
  padding-bottom: 60px;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

#nav {
  position: absolute;
  top: 20px;
  right: 15px;
  text-align: right;
  width: 100%;
  padding-right: 3px;
}

#nav a{
  padding-right: 5px;
}

#header {
  margin: 100px 0 50px;
}

a {
    background-color: #ffffff;
    border-bottom: 2px solid #b4e7f8;
}

a:hover, a:active{
    background-color: #b4e7f8;
    border-bottom: 2px solid #b4e7f8;
}

.text-center {
    text-align: center;
    float: none;
}

.header{
    margin-top: 50px;
}

h1 {
  margin: 15px 0 40x 0;
  font-size: 40px;
  text-align:center;
}

ul {
	list-style: none;
	margin: auto;
	padding: 0;
  text-align: center;
}

img {
	width: 75%;
  margin-bottom: 30px;
	border: 1px solid #ccc;
}