.container {
  width: 750px;
  color: #333;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
  font-family: 'Bree Serif', serif;
  position: relative;
}

#nav {
  position: absolute;
  top: 20px;
  right: 15px;
  text-align: right;
  width: 100%;
  padding-right: 3px;
}

#buttons {
	position: relative;
	top: 195px;
	right: 5px;
	width: 100%
	height: 25px;
	display: inline;
}

#buttons img{
	width: 25px;
    height: 25px;
	display: inline;
	margin: 2px 0 0 0px;
}

#buttons a:focus, a:hover, a:active {
  text-decoration: none;
  background: #ffffff;
}

h1 {
  margin: 0 0 0;
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 14px;
  margin: 0 0 0;
  font-family:georgia;
}

p:first-of-type {
    width: 200px;
    float: left;
    margin: 0px 30px 0 0;
}

img {
    width: 205px;
    height: 205px;
	display: block;
	margin: 15px 0 0 0px;
}

p {
  font-size: 19px;
  line-height: 1.5;
  margin: 0.35em;
}

/* 
ul {
	width: 750px;
	margin: 20px 0 0 0;
	padding: 0;
	display: inline-flex;
}

li {
	display: inline-block;
	width: 350px;
	margin: 50px 42px 0 0;
	padding: 0;
	font-size: 18px;
	line-height: 2.0;
}

li:nth-child(even) {
	margin-right: 50px;
}
 */


li img {
	width: 348px;
	height: 230px;
	border: 1px solid #ccc;
}

ul {
    width: 750px;
    margin: 20px 0 0 0;
    padding: 0;
}

li {
    display: inline-block;
    width: 350px;
    margin: 50px 42px 0 0;
    padding: 0;
    font-size: 18px;
    line-height: 2.0;
}

li:nth-child(even) {
    margin-right: 0;
}

a:link, a:visited {
  text-decoration: none;
  background: #ffffff;
  padding: 2px 4px;
  color: #ffa474;
}

a:focus, a:hover, a:active {
  text-decoration: none;
  background: #ffa474;
  color: #ffffff;
}


#li a:link, a:visited {
	position: relative;
	top: 195px;
	right: 5px;
	width: 100%
	height: 10px;
	display: inline;
}
