body {
    height: 100%;
    width:100%;
}

#container {
  width: 750px;
  color: #333;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
  font-family: 'Bree Serif', serif;
  position: relative;
}

#nav {
  position: absolute;
  top: 20px;
  right: 15px;
  text-align: right;
  width: 100%;
  padding-right: 3px;
}

#nav a{
  padding-right: 5px;
}


.intro {
  display: block;
  clear
}

#profile_pic{
    width: 130px;
    height: 130px;
    margin-top: 40px;
    position: relative;
    left:50%;
    margin-left: -70px;
    border-radius: 50%;
}

.text-center {
    text-align: center;
    float: none;
}

.header{
    margin-top: 50px;
}

.intro_text {
    font-size: 15px;
    line-height: 25px;
}

.intro_text a:hover{
    background-color: #F85A3E;
    color:white;
    text-decoration: none;
}

a {
    background-color: #ffffff;
    text-decoration: none;
}

a:hover {
    background-color: #ffffff;
    text-decoration: underline;
}

#buttons {
	top: 195px;
	right: 5px;
	width: 100%;
	height: 25px;
  text-align: center;
	/*display: inline;*/
}

#buttons img{
	padding-right: 5px;
}

#buttons a{
  width: 25px;
  height: 25px;
  display: inline;
  margin: 10px 5px 2px;
}


h1 {
  margin: 0 0 0;
  font-size: 40px;
}

/*img {
    width: 205px;
    height: 205px;
    display: block;
    margin: 15px 0 0 0px;
}*/

p {
  font-size: 15px;
  line-height: 1.5;
  margin: 0.35em;
}

#portfolio {
    max-width: none;
    margin-top: 50px;
}

.portfolio_pic {
	width: 348px;
	height: 230px;
	border: 1px solid #ccc;
}

.page-header {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 700;
    border-bottom: none;
}

ul {
    width: 750px;
    margin: 20px 0 0 0;
    padding: 0;
}

li {
    display: inline-block;
    width: 350px;
    margin: 50px 42px 0 0;
    padding: 0;
    font-size: 18px;
    line-height: 2.0;
}

li:nth-child(even) {
    margin-right: 0;
}

.tools {
  font-size: 13px;
  line-height: 1.5;
  margin: 0.35em;
  font-family: georgia italic;
}
