<!doctype html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ photography.url }}/assets/css/main.css">
  <title>Chen Wang</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Chen Wang - Portfolio">
  <meta name="keywords" content="Chen Wang, Data, Visualization, Graphics, New York">
  <meta name="author" content="Chen Wang">
</head>

<body>
  <div class="container">
    {% include topnav.html %}
    {% include contact.html %}
    {% include index.html %}
    {{ content }}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>